<div class="jumbotron text-center">

	<h1 class="h1Title">How </h1>

	<div id="total" class="anchorDiv"></div>



	<div class="row">
		<h1>Traffic Accidents Trends </h1>
	</div>

	<div class="row">
		<div class="w-30 p-3">
			<label>Sliding Window Size (Days):
			</label>
		</div>
		<div class="w-40 p-3">
			<rzslider style="width:250px" rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
		</div>

		<div class="w-40 p-3">
			<label>Localities:
				<select name="singleSelect" id="singleSelect" ng-model="selectedLocality" ng-change="selectLocality()">
					<option value="">---Please select---</option> <!-- not selected / blank option -->
					<option ng-repeat="option in localities" value="{{option.id}}">{{option.label}}</option>
				</select>
			</label>
		</div>

		<div class="w-40 p-3">
			<label>Severity:
				<select name="sSeverity" id="sSeverity" ng-model="selectedSeverity" ng-change="selectSeverity()">
					<option value="">---Please select---</option> <!-- not selected / blank option -->
					<option ng-repeat="option in severity" value="{{option.id}}">{{option.label}}</option>
				</select>
			</label>
		</div>

		<div class="w-40 p-3">
				<label>Day of Week :
					<select name="sday" id="sday" ng-model="selectedDay" ng-change="selectDay()">
						<option value="">---Please select---</option> <!-- not selected / blank option -->
						<option ng-repeat="option in days" value="{{option.id}}">{{option.label}}</option>
					</select>
				</label>
			</div>


	</div>
	<div class="row">
		<div id="chart" class="chart-container " line-chart chart-data="trends"></div>
	</div>


	<div class="row">
		<h1 class="col-12">Heatmap </h1>
	</div>



	<div class="row">
		<div id='heatmapChart' class="chart-container col-9"></div>
	</div>








</div>