<div class="jumbotron text-center">


	<br />
	<br />
	<h1 class="h1Title">How </h1>


	<br />
	<br />

	<div id="total" class="anchorDiv"></div>


	<h1>Trends</h1>

	<div class="row">
		<div class="w-30 p-3">
			<label>Sliding Window Size:
			</label>
		</div>
		<div class="w-40 p-3">
			<rzslider style="width:250px" rz-slider-model="slider.value" rz-slider-options="slider.options"></rzslider>
		</div>

		<div class="w-40 p-3">
			<label>Localities:
				<select name="singleSelect" id="singleSelect" ng-model="selectedLocality" ng-change="selectLocality()">
					<option value="">---Please select---</option> <!-- not selected / blank option -->
					<option ng-repeat="option in localities" value="{{option.id}}">{{option.label}}</option>
				</select>
			</label>
		</div>
	</div>
	<div class="row">
		<div id="chart" class="chart-container" line-chart chart-data="trends"></div>
	</div>

	<!--

	<br />
	<br />
	<div id="sex" class="anchorDiv"></div>

	<h1>Stats per Sex</h1>
	<br />
	<h2>Total Deaths per Year : Woman</h2>
	<div class="chart-container" line-chart chart-data="datasetYearSexF"></div>

	<br />
	<h2>Total Deaths per Year : Man</h2>
	<div class="chart-container" line-chart chart-data="datasetYearSexM"></div>

	<br />
	<br />

	<div id="age" class="anchorDiv"></div>
	<h1>Stats per Age Group </h1>
	<div ng-repeat="(key, value) in edades">
		<br />
		<h2> {{key}} </h2>
		<div class="chart-container" line-chart chart-data="value"></div>
	</div>


	<br />
	<br />
	<div id="cause" class="anchorDiv"></div>
	<h1>Stats per Cause </h1>
	<div ng-repeat="(key, value) in causas">
		<br />
		<h2> {{key}} </h2>
		<div class="chart-container" line-chart chart-data="value"></div>
	</div>
-->







</div>